/* Header styles */
.header {
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
  align-items: center;
  margin: 94px 24px 94px;
  padding: 0 26px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  justify-self: start;
  align-items: center;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle outside;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  letter-spacing: 0.018em;
  text-decoration: underline;
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  line-height: 0;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

/* Address styles */
.address {
  justify-self: end;
  font-weight: 400;
  font-style: normal;
  line-height: 1.35;
}

.address__link {
  text-decoration: underline;
  text-underline-position: under;
}

.address__text {
  max-width: 237px;
}

/* Cover styles */
.cover {
  position: relative;
  margin-bottom: 179px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__text {
  padding: 165px 50px 51px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 135px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
}

.aligned-text_center {
  margin-left: 286px;
  line-height: 1.1;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.letter-spacing {
  letter-spacing: 30px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
}

.description__text {
  font-size: 22px;
  word-spacing: 18px;
}

.description__button {
  border: 1px solid #fff;
  padding: 12px 32px;
  font-size: 22px;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 500;
}

/* Lots styles */
.lots {
  margin: 0 24px 146px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  flex: 1 0 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px 47px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card-text {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  line-break: auto;
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
  text-underline-position: under;
  text-transform: lowercase;
}

/* About styles */
.about {
  margin: 0 24px 180px;
  padding-top: 37px;
}

.about__column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.about__logo {
  justify-self: center;
}

.about__logo-circle {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__description {
  grid-column: 2/4;
}

.about__title {
  margin-bottom: 100px;
  padding-top: 101px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

/* Footer styles */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 88px 51px;
  font-size: 18px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  text-underline-position: under;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
